/* colors and default size */
:root {
  --primaryColor: #00eaff;
  --primaryHover: hsl(185, 92%, 41%);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: #031a30;
  --formColor: rgb(2, 15, 29);
  --projectCardColor: #072340;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
}

.about {
  .sectionContent {
    .textSection {
      h4 {
        color: var(--secondaryColor);
        font-size: 1.1rem;
        max-width: 100%;
        letter-spacing: 1px;
        font-weight: 500;
        margin: auto;
      }
      .aboutBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        background: var(--primaryColor);
        width: max-content;
        padding: 10px 15px;

        &:hover{
            background: var(--primaryColor);
        }

        a{
            color: var(--projectCardColor);
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            gap: .5rem;
        }

        a:hover{
            color: var(--textColor);
        }
      }
    }

    .aboutImgDiv{
        position: relative;
        width: 250px;
        height: 250px;
        margin: 2rem auto 3rem;
        border-radius: 50%;
        overflow: hidden;
        display: grid;
        border: 2px dashed var(--primaryColor);

        // .aboutImg{
        //     width: 215px;
        //     object-fit: cover;
        //     align-self: center;
        //     justify-self: center;
        // }
    }
  }
}
