/* colors and default size */
:root {
  --primaryColor: #a10587;
  --primaryHover: #760764;
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: #310229;
  --formColor: #430439;
  --projectCardColor: #20021b;
  --textColor: #dae4fb;
  --headerHeight: 3rem;
}

.contact {
  .contactContainer {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    .socialContacts {
      justify-content: center;
      h3 {
        color: var(--secondaryColor);
        padding: 1rem 0;
        text-align: center;
      }
      .cards {
        gap: 1rem;
        justify-content: center;
        .card {
          display: grid;
          align-items: center;
          row-gap: 10px;
          padding: 1.5rem;
          width: 240px;
          background: var(--projectCardColor);
          border-radius: 10px;
          text-align: center;

          .icon {
            color: var(--primaryColor);
          }

          h4 {
            color: var(--textColor);
            font-size: 18px;
          }

          .userName {
            color: var(--secondaryColor);
            font-weight: 600;
          }

          a {
            justify-content: center;
            gap: 5px;
            color: var(--primaryColor);
            font-weight: 600;
            cursor: pointer;

            .icon {
              font-size: 20px;
            }
            &:hover {
              color: var(--primaryColor);
              .icon {
                transform: translateX(10px);
              }
            }
          }
        }
      }
    }

    .form {
      width: 100%;
      justify-content: center;
      margin: auto;

      h3 {
        text-align: center;
        color: var(--secondaryColor);
      }

      form {
        width: 100%;
        text-align: center;

        input,
        textarea {
          height: 1rem;
          width: 90%;
          padding: 1.5rem 0.5rem;
          border-radius: 10px;
          background: none;
          border: 2px solid var(--secondaryColor);
          margin: 0.5rem 0;
          outline: none;
          color: var(--textColor);
          font-weight: 600;

          &::placeholder {
            color: var(--secondaryColor);
            opacity: 0.5;
          }
        }

        textarea {
          height: 150px;
        }

        .formBtn {
          display: block;
          margin: auto;
          width: 90%;
          border: none;
          padding: 1rem 0;
          font-size: 18px;
          border-radius: 10px;
          background: var(--primaryColor);
          color: var(--BgColor);
          font-weight: 600;
          cursor: pointer;

          &:hover {
            background: var(--primaryHover);
          }
        }
      }
    }
  }
}

//Media Queries -------------->
@media screen and (min-width: 640px) {
  .cards {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1150px) {
  .contact {
    .contactContainer {
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start !important;
    }
  }
}

@media screen and (min-width: 1240px) {
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
